<mat-toolbar class="toolbar">
  <span>ToDo List</span>
</mat-toolbar>

<div class="container">
  <div class="sidebar">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Categories</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-category-list
          #categoryList
          (categoryAdded)="onCategoryAdded()"
          (todoSelected)="onTodoSelected($event)"
        ></app-category-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="main-content">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Add a task for your Day!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-todo-list #todoList (taskAdded)="onTaskAdded()"></app-todo-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>How it Works</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <!-- Set it how it works the todo project -->
          This is a simple ToDo List application for my process interview that
          helps you keep track of your tasks. You can add tasks, mark them as
          completed, and delete them.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
