<div class="form-container">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Select Category</mat-label>
    <mat-select [(ngModel)]="newTodo.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Task Title</mat-label>
    <input
      matInput
      [(ngModel)]="newTodo.title"
      (ngModelChange)="updateTitle($event)"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newTodo.dueDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Task Description</mat-label>
      <textarea matInput [(ngModel)]="newTodo.description"></textarea>
    </mat-form-field>
  </div>

  <div class="button-group">
    <button mat-icon-button color="secondary" (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="selectFile($event)"
    />
    <span *ngIf="fileName">{{ fileName }}</span>

    <button
      mat-raised-button
      color="primary"
      (click)="isEditMode ? updateTodo() : addTodo()"
    >
      {{ isEditMode ? "Update Task" : "Add Task" }}
    </button>
  </div>

  <div *ngIf="attachments.length > 0" class="attachments-container">
    <h3>Attachments</h3>
    <ul>
      <li *ngFor="let attachment of attachments">
        <a (click)="downloadAttachment(attachment)">{{
          attachment.fileName
        }}</a>
      </li>
    </ul>
  </div>
</div>
